/* Goggle Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}

/* Variables */
:root {
  --main-color: #9b5c41;
  --light-color: #e1b955;
  --text-color: #2e2e2e;
  --hover-color: hsl(18, 41%, 38%);
  --bg-color: #ffffff;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

.container {
  max-width: 968px;
  margin: auto;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Button */
.btn {
  background: var(--main-color);
  padding: 14px 24px;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--hover-color);
  transition: 0.3s all linear;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0px auto 0px 24px;
}

.logo span {
  color: var(--main-color);
}

/* Menu Icon */
.menu-icon {
  display: grid;
  row-gap: 5px;
  padding: 14px 12px;
  background: var(--main-color);
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}

.menu-icon div {
  display: block;
  background: var(--bg-color);
  height: 2px;
  width: 25px;
  transition: 0.3s;
}

.move .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.move .line2 {
  opacity: 0;
}

.move .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(4.5px);
  z-index: 106;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.navbar.active {
  display: flex;
}

.navbar a {
  padding: 20px;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.2s all linear;
}

.navbar a:hover {
  background: var(--main-color);
  font-size: 1.8rem;
  color: var(--bg-color);
}

/* Nav-icons */
.nav-icons {
  display: flex;
  column-gap: 1rem;
  z-index: 200;
}

.nav-icons .bx {
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 10px;
  background: var(--main-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* cart */
.cart {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4.5px);
  z-index: 106;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.15 ease;
}

.cart.active {
  display: flex;
}

.main-container {
  justify-content: center;
  text-align: center;
  margin: 250px auto;
  font-size: 2rem;
  letter-spacing:-1px;
  font-family: "sans-serif";
  font-weight: 700;
  font-style: normal;
}
.cart-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  width: 100%;
  padding: 20px;
  row-gap: 1rem;
}

.cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-box img {
  width: 150px;
}

.cart-text {
  display: grid;
}

.cart-text h3 {
  font-size: 1rem;
}

.cart-text span {
  font-weight: 500;
}
.cart-box .bx {
  font-size: 20px;
  color: var(--text-color);
}

.cart-box .bx:hover {
  color: var(--main-color);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.total h3 {
  font-size: 24px;
}

.total span {
  font-weight: 500;
}

.cart-content.btn {
  display: inline-flex;
  justify-content: center;
}

/*----Login- Form*/
.login-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4.5px);
  z-index: 106;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.15 ease;
}

.login-form.active {
  display: flex;
}

.login-form form {
  max-width: 300px;
  width: 100%;
  margin: auto;
  display: grid;
  text-align: center;
  row-gap: 1rem;
  padding: 10px;
}
.login-form form h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.login-form form input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 0.9rem;
  padding: 14px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
}

.login-form form input::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-color);
}
.login-form form a {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: right;
}
.login-form form a:hover {
  color: var(--main-color);
}

.login-form form .btn {
  border: none;
  background: var(--main-color);
}

.login-form form .btn:active {
  background: var(--hover-color);
}
